body {

    margin: 0;

}

.content-all {
    background: linear-gradient(90deg, #0f0c29 0%, #302b63 50%, #24243e 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.caja {
    color: #FFFFFF;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 1100px;
}

.texto{

    opacity: 0.5;
    font-size: 20px;
}

ul.menu, .secc-exp {
    padding-top: 4rem;
}

.redes-icon{

    height: 16px;
    width: 16px;
}

.secc1, .secc2 {
    flex: 1;
}
.redes-padres {
    max-width: 5rem;
    display: flex;
    justify-content: space-evenly;
    padding-top: 4rem;
}

.content1 {
    display: flex;
    width: auto;
}

ul.skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul.grup-class {
    margin: 0;
    padding: 0;
}

.m-6, .enlace{

    list-style: none;

}

p.titulo1{

    flex: 1;
    list-style: none;
}

.cont-primer {
    flex: 4.5;
}

