body{

    background: linear-gradient(90deg, #0f0c29 0%, #302b63 50%, #24243e 100%);
}

body, .grup-class {

    margin: 0;
    padding: 0;

}


.content-all {
    color: #FFFFFF;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: flex;
    justify-content: center;
}

.caja {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    padding: 6rem 0rem;
}

.content1 {

    display: flex;
    width: auto;
    
}

.texto{

    opacity: 0.5;
    font-size: 20px;
    width: 23rem;
}


ul.menu, .secc-exp {

    padding-top: 4rem;
}

.redes-icon{

    height: 16px;
    width: 16px;
}

.redes-padre {
    max-width: 111px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 5rem;
}

ul.skills {
    display: flex;
    padding: 0px;
}

.m-6, .enlace{

    list-style: none;

}

.m-6{
    padding-top: 18px;
}

a {
    color: white;
    text-decoration: none;
}

a.li-in{

    color: palevioletred;
}

p.titulo1{

    flex: 1;
    list-style: none;
}

.cont-primer {
    flex: 3.7;
    font-size: 13px;
}

li.ski-1 {
    color: aqua;
    list-style: none;
    background-color: rgb(138, 43, 226, 0.5);
    padding: 5px 16px;
    border-radius: 46px;
    margin-left: 6px;
}

.secc1 {
    height: 100%;
    display: grid;
    position: fixed; /*hace que un elemento se coloque respecto al viewport, Le dices dónde posicionarse al elemento, y se queda ahí mientras el usuario hace scroll*/
    max-width: 37rem;
    
}


.secc2 {
    margin-left: 38rem;
}


@media (max-width:780px){

    .content-all {

        padding: 0px;
    }
    
    .caja {
        display: grid; /*te proporciona una cuadrícula de una sola columna, por lo que tus elementos continúan mostrándose uno debajo del otro, como lo hacen en el flujo normal*/
        justify-content: center;
        padding: 0rem 11rem;

    }

    .enlace {
        display: none;
    }

    .secc1 {
    
            position: sticky;
            max-width: 19rem;
            padding-top: 1rem;
    }

    .secc2 {
        padding: 0rem 0rem; 
        margin: 9rem 0rem; 
    }

    .c-1 {
        height: 18rem;
    }

    .c-2 {
        height: 0rem;
    }

    .content1 {
        padding: 0rem;
        display: grid;

    }

    .cont-primer {
        flex: 3.7;
        font-size: 18px;
    }

    .m-6 {
        /* padding-top: 18px; */
        width: 20rem;
    }

    .list {
        display: flex;
        flex-wrap: wrap;
    }
    
    ul.skills {
        display: flex;
        flex-direction: row;
        padding: 0px;
    }

    li.ski-1 {
        color: aqua;
        list-style: none;
        background-color: rgb(138, 43, 226, 0.5);
        padding: 5px 16px;
        border-radius: 46px;
        margin: 3px;
    }

}

.content1:hover {
    background-color: rgb(240, 210, 115, 0.3);
    padding: 19PX;
    border-radius: 47px;
}

.content1{
    padding: 19PX;
}

h3.emp-1:hover {
    color: aqua;
}

img.cap {
    width: 5rem;
}

.all {
    display: flex;
    flex-direction: row-reverse;
}

.i-content {
    flex: 2;
    margin-left: 22px;
}

.inv-pro {
    flex: 1;
}

img.cap {
    width: 227px;
    border-radius: 14px
}

